{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tarefas</title>
    <link href="{% static '\checklist\css\your_lists.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '\checklist\js\checklist.js' %}"></script>
  </head>
  <body>
   {% csrf_token %}
    <header>
        <h4>
            {{ user.username }}
        </h4>
    </header>
    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert alert-error" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
      <h1>Tarefas</h1>
      <form action="{% url 'your_lists' %}" method="POST"> {% csrf_token %}
        <input type="text" name="descricao" placeholder="Insira uma tarefa..."> 
        <button class="btn" type="submit">Inserir Tarefa</button>
      </form>
      <ul>
      {% for tarefa in lista %}
            <li>
                <input class="checkbox" onclick="clicked({{tarefa.id}}, {% if tarefa.concluida == 1 %}true{% else %}false{% endif %})" type="checkbox" id="checkbox-{{ tarefa.id }}" {% if tarefa.concluida == 1 %}checked{% endif %}>
                <span class="text" type="text">{{tarefa.descricao}}</span>
                <button class="button" id="delete-button">X</button>
            </li>
        {% endfor %}
        </ul>
    </div>
  </body>
</html>
