{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tarefas</title>
    <link href="{% static '\checklist\css\your_lists.css' %}" rel="stylesheet">

  </head>
  <body>
    <header>
        <h4>
            {{ user.username }}
        </h4>
    </header>
    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert alert-error" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
      <h1>Tarefas</h1>
      <form action="{% url 'your_lists' %}" method="POST"> {% csrf_token %}
        <input type="text" name="descricao" placeholder="Insira uma tarefa..."> 
        <button class="btn" type="submit">Inserir Tarefa</button>
      </form>
      <ul>
      {% for tarefa in lista %}
            <li>
                {% if tarefa.concluida == 1 %}
                    <label class="container-checkbox">
                        <input class="checkbox" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                        <span class="text" type="text">{{tarefa.descricao}}</span>
                    </label>
                {%   else %}
                    <label class="container-checkbox">
                        <input class="checkbox" type="checkbox">
                        <span class="checkmark"></span>
                        <span class="text" type="text">{{tarefa.descricao}}</span>
                    </label>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </divz>
  </body>
</html>
