.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container{
    background-color: #293845;
    min-width: 10rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 12rem 1.5rem 4rem;
}

.menu-container ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container ul li {
    color: white;
    list-style: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    font-size: 1.2rem;
}

.menu-container ul li:after {
    content: '';
    position: absolute;
    right: 50%;
    left: 50%;
    transition: all 300ms ease-in-out;
    bottom: -0.3rem;
}

.menu-container ul li:hover:after {
    right: 0;
    left: 0;
    background-color: #a02eff;
    height: 0.2rem;
}